/* GLOBAL STYLES */
body {
  margin: 0;
  background-color: #0B2A45;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* NAVIGATION */
nav {
  margin-top: 10px;
}

nav a {
  background-color: #003b74;
  padding: 8px 15px;
  border-radius: 15px;
  margin: 0 8px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}

nav a:hover {
  background-color: #0077cc;
}

/* MAIN CONTENT BUBBLE */
.main-box {
  background-color: #113b60;
  width: 60%;
  max-width: 800px;
  margin: 50px auto;
  padding: 40px 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  background: #082135;
  position: relative;
}

footer a {
  margin: 0 10px;
  color: #b6d7ff;
  text-decoration: none;
  font-size: 14px;
}

footer a:hover {
  color: white;
}
