* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0B2A45;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

main {
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto; 
    padding: 1rem;
}

a{
  background-color: #003b74;
  padding: 8px 15px;
  border-radius: 15px;
  margin: 0 8px;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}
a:hover {
    background-color: #0077cc
    text-decoration: none;
}

main ul {
    text-align: left;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px; 
}

main ul ul {
    padding-left: 40px; 
}

main li {
    text-align: left;
}


h2{
    text-align: center;
}
main p {
text-align: left;
}
img{
    width:50%;
}
figure{
    text-align: center;
    font-style: italic;
}
header {
    text-align: center;
    background-color: #003b74;
}
main nav{
    text-align: center;
    background-color: #003b74;
}
footer {
    text-align: center;
}
li {
    text-align: left;
}
ul{
    text-align: center;
}
@media screen and ( min-width: 992px ) and ( max-width: 1400px ) {
    header {
        background-color:#003b74;
        font-size: 32px;
    }
    body {
        font-size: 20px;
    }

}
@media screen and ( min-width: 601px ) and ( max-width: 991px )  {
    header {
        background-color:#113b60;
        font-size: 22px;
    }
    body {
        font-size: 20px;
    }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header {
        background-color:#082135;
        font-size: 17px;
    }
    body {
        font-size: 15px;
    }
}
legend {
    text-align: center;
}
input {
    margin: 10px;
}

main ol {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

footer a:hover {
  color: white;
}
