header {
    text-align: center;
    background-color: #081d33;;
    padding: 2rem 1rem; 
}

header nav {
  margin-top: 15px;
}

main {
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin-bottom: 10px;
    padding: 2rem 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

body{
    background-color:#0a2a4d;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
a{
    color:#12426f;
    text-decoration: none;
}
a:hover {
    background-color: #1a5a94;
    text-decoration: none;
}

main p {
    text-align: center;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
}

footer nav {
  margin-bottom: 15px;
}

img{
    width:50%;
}
figure{
    text-align: center;
    font-style: italic;
}

main nav{
    text-align: center;
    background-color: #12426f;
}

li {
    text-align: left;
}
ul{
    text-align: center;
}
@media screen and ( min-width: 992px ) and ( max-width: 1400px ) {
    header {
        background-color:#003b74;
        font-size: 32px;
    }
    body {
        font-size: 20px;
    }

}
@media screen and ( min-width: 601px ) and ( max-width: 991px )  {
    header {
        background-color:#113b60;
        font-size: 22px;
    }
    body {
        font-size: 20px;
    }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    header {
        background-color:#082135;
        font-size: 17px;
    }
    body {
        font-size: 15px;
    }
}
legend {
    text-align: center;
}
input {
    margin: 10px;
}

main ol {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

article p {
    margin: 10px 0;
}

article {
    margin: 20px 0;
    padding: 15px;
}

article ul{
    max-width: 1200px;
    width: 90%;
    margin: 10px auto 10px auto;
    padding-left: 40px;
    text-align: left;
    list-style-type: disc;
}
